// 480px and Up Stylesheet
#home-contact #connect .social a {
	margin: 0;
}

#home-contact form .col-right input[type="text"] {
	width: 81%;
}

#home-contact form textarea {
	float: none;
	width: 81%;
}